:root {
  --font-default: "Poppins", Arial, sans-serif;

  --color-white: rgba(255, 255, 255, 1);
  --color-black: rgba(255, 255, 255, 0.1);

  /*text color*/
  --color-text-primary: rgba(26, 26, 26, 1);
  --color-text-secondary: rgba(68, 60, 60, 1);
  --color-text-tertiary: rgba(102, 102, 102, 1);
  --color-text-neutral: rgba(230, 230, 230, 1);

  /*button color: ;*/
  --color-button-primary-default: rgba(59, 109, 255, 1);
  --color-button-primary-hover: rgba(119, 154, 255, 1);
  --color-button-primary-pressed: rgba(41, 95, 255, 1);
  --color-button-primary-disabled: rgba(180, 190, 218, 1);

  --color-button-secondary-default: rgba(230, 236, 254, 1);
  --color-button-secondary-hover: rgba(119, 154, 255, 1);
  --color-button-secondary-pressed: rgba(133, 163, 255, 1);
  --color-button-secondary-disabled: rgba(176, 189, 228, 1);

  --color-button-secondary-border: rgba(255, 255, 255, 0.75);

  /*background color: ;*/
  --color-background-main: rgba(255, 255, 255, 1);
  --color-background-secondary: rgba(244, 244, 246, 1);
  --color-background-surfacefill: rgba(255, 255, 255, 0.15);
  --color-background-surfacefill2: rgba(250, 250, 250, 1);
  --color-background-surfacestroke: rgba(200, 200, 200, 1);

  /* Functional */
  --color-functional-green: rgba(0, 189, 0, 1);
  --color-functional-yellow: rgba(253, 176, 34, 1);
  --color-functional-grey: rgba(232, 234, 237, 1);
  --color-functional-red: rgba(255, 0, 0, 1);
  --color-functional-blue: rgba(0, 111, 255, 1);

  --color-instagram: rgba(240, 0, 115, 1);
  --color-fb: rgba(24, 119, 242, 1);
  --color-twitter: rgba(29, 161, 242, 1);
}

/* user styles */

body {
  font-family: var(--font-default);
  color: var(--color-text-primary);
  font-size: 20px;
  line-height: 1.5;
  font-weight: 400;
  background-color: #083d59;
  margin: 0;
}
* {
  font-weight: inherit;
  padding: 0;
  margin: 0;
}
.highlight {
  color: var(--color-text-primary);
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
  margin-block-end: 0;
}
cite {
  font-style: normal;
}
.color-text-quaternary {
  color: var(--color-white);
}
.color-text-primary {
  color: var(--color-text-primary);
}
.color-text-tertiary {
  color: var(--color-text-tertiary);
}
.color-text-secondary {
  color: var(--color-text-secondary);
}

/* buttons */
.button {
  background-color: var(--color-button-primary-default);
  color: white;
  border: 1px solid var(--color-background-surfacefill2);
  font-size: 16px;
  line-height: 1.5;
  border-radius: 1000px;
  font-family: var(--font-default);
}
.is-secondary {
  background-color: var(--color-button-secondary-default);
  color: var(--color-text-primary);
  border: 1px solid var(--color-button-secondary-border);
}
.tab {
  background-color: var(--color-background-surfacefill2);
  color: var(--color-text-secondary);
  border: none;
  border-radius: 100px;
  font-size: 20px;
  line-height: 1.5;
  font-family: var(--font-default);
}
.is-active {
  background-color: var(--color-button-primary-default);
  color: var(--color-white);
  border: none;
  border-radius: 100px;
  font-size: 20px;
  line-height: 1.5;
}
/* text */
.body-lg {
  font-size: 20px;
}
.body-md {
  font-size: 16px;
  line-height: 1.125;
}
.body-sm {
  font-size: 14px;
  line-height: 1;
}

.headline-lg {
  font-size: 32px;
  letter-spacing: -0.02em;
}
.headline-md {
  font-weight: 500;
  font-size: 24px;
}
.headline-sm {
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
}

.subtitle-lg {
  font-weight: 500;
  font-size: 64px;
  line-height: 1.3;
  letter-spacing: -0.078em;
}
.subtitle-md {
  font-size: 56px;
  line-height: 1.3;
  letter-spacing: -0.071em;
}
.subtitle-sm {
  font-weight: 500;
  font-size: 48px;
  line-height: 1.3;
  letter-spacing: -0.041em;
}

/* header */
.header {
  margin: 24px auto 0 auto;
  max-width: 1072px;
  box-sizing: border-box;
  padding: 8px 8px 8px 16px;
  border-radius: 32px;
  background-color: var(--color-background-surfacefill);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
}
.header-logo {
  font-size: 26.18px;
  line-height: 1;
  color: var(--color-white);

  span {
    font-weight: 700;
  }
}
.header-nav-link {
  font-size: 16px;
  line-height: 1;
  color: var(--color-white);
}
/* main */
.main {
  background-color: #083d59;
  text-align: center;
}
.slider-button {
  background-color: var(--color-background-surfacefill2);
  border: 1px solid var(--color-background-surfacestroke);
  border-radius: 1000px;
  font-family: var(--font-default);
  line-height: 1;
}
/*about*/
.about {
  background-color: var(--color-text-neutral);
}
.about-list {
  list-style: disc;
}
.quote {
  background-color: var(--color-background-surfacefill2);
  border: 1px solid var(--color-background-surfacestroke);
  text-align: center;
  border-radius: 32px;
  margin-block-end: 0;
}
/*solution*/
.solution {
  background-color: var(--color-background-main);
  text-align: center;
}
.solution-text {
  line-height: 1;
  color: var(--color-text-secondary);
}
/*recomendation*/
.recomendation {
  background-color: var(--color-background-main);
}
.discount-text {
  line-height: 1;
  color: var(--color-text-secondary);
  font-size: 16px;
}
.price-text {
  line-height: 1;
  color: var(--color-text-primary);
  font-size: 16px;
}
.learn-more {
  background-color: var(--color-button-secondary-default);
  color: var(--color-text-primary);
  border: 1px solid var(--color-button-secondary-border);
  border-radius: 1000px;
  font-size: 20px;
  font-family: var(--font-default);
  line-height: 1;
}
.card-link-icon {
  background-color: var(--color-button-primary-default);
  border: 1px solid var (--color-background-surfacefill2);
  border-radius: 1000px;
  padding: 16px;
  gap: 8px;
}

/*features*/
.features {
  background-color: var(--color-background-secondary);
}
.feature-article {
  background-color: var(--color-background-main);
  border: 1px solid var(--color-background-surfacestroke);
  border-radius: 32px;
}
/*faq*/
.faq {
  background-color: var(--color-background-secondary);
}
/*contact*/
.contact {
  background-color: var(--color-background-secondary);
}
/*footer*/
.footer {
  background-color: var(--color-background-main);
}
.footer-logo {
  font-size: 26.18px;
  line-height: 1;
  color: var(--color-black);

  span {
    font-weight: 700;
  }
}